* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background: #1a1a1d;
  --text: white;
  --button: #6a1e55;
  --title: #a64d79;
  --theme: #3b1c32;
  --subhead: lightgray;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background);
  color: var(--text);
}
.flex-space-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-space-ard {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-center {
  text-align: center;
}
.size-18px {
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--title);
}

/* Actual class start here */

.main-cointainer {
  margin: 0px 50px;
}
.nav-bar {
  position: sticky;
  top: 0;
  background-color: var(--background);
  padding: 5px 50px;
  z-index: 999;
}
.profile-name {
  font-size: 50px;
  font-weight: bold;
  width: 60%;
}
.menu {
  width: 40%;
}
.menu a {
  text-decoration: none;
  color: var(--text);
  border-bottom: 2px solid var(--title);
  padding: 5px 10px;
  transition: all 500ms ease-in-out;
}
.menu a:hover {
  scale: 1.2;
}

.hero-section {
  height: 87vh;
  background-image: linear-gradient(
    45deg,
    var(--theme) 0% 50%,
    var(--background) 50% 100%
  );
}
.content {
  width: 48%;
  padding: 30px;
  text-align: justify;
}
.hi-text {
  font-size: 35px;
  font-weight: 700;
  font-style: italic;
}
.content h2 {
  margin: 20px 0px;
  width: 80%;
}
.content h2 + p {
  text-indent: 30px;
  margin-bottom: 10px;
}
.content p {
  font-size: 18px;
  line-height: 25px;
}
.notes {
  color: var(--subhead);
}
.circle {
  margin-top: 40px;
  width: 75%;
}
.circle a {
  width: 90px;
  /* width: 20%; */
  height: 70px;
  background-color: var(--title);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.circle a {
  text-decoration: none;
  color: var(--background);
}
.profile {
  width: 50%;
  text-align: end;
}
.profile img {
  transform: scaleX(-1);
  /* width: 550px; */
  width: 85%;
  height: 400px;
  border-radius: 50%;
}
.about-section {
  padding-top: 75px;
}
.about-heading h1 {
  color: var(--title);
}
.about-heading p {
  margin: 10px 0px;
  line-height: 25px;
}
.timeline {
  position: relative;
  max-width: 950px;
  margin: auto;
  margin-top: 20px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 5px;
  background-color: var(--title);
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  padding: 20px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-item::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  background-color: var(--subhead);
  border: 4px solid var(--title);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item.left {
  left: 0;
}

.timeline-item.right {
  left: 50%;
}

.timeline-content {
  padding: 20px;
  background-color: var(--subhead);
  position: relative;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.timeline-item.right::after {
  left: -10px;
}

.timeline-content h3 {
  margin-bottom: 10px;
  color: var(--title);
}

.timeline-content p {
  color: black;
  text-align: justify;
  font-size: 16px;
}
.timeline-content b{
  color: var(--title);
}
.about-card {
  padding-top: 50px;
}
.card-content {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./image/laptop-space.jpg");
  /* height: 90vh; */
  background-size: 100% 100%;
  padding: 50px;
}
.about-me {
  width: 30%;
  color: var(--subhead);
  line-height: 30px;
}
.skills {
  width: 70%;
  padding-left: 50px;
}
.skills .heading {
  font-size: 40px;
  color: var(--title);
  margin-bottom: 20px;
}
.skills-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 75px;
}
.skill-item {
  background-color: #6a1e5581;
  border-radius: 15px;
  width: 160px;
  height: 160px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.skill-item::before {
  content: "";
  position: absolute;
  background-color: var(--button);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  bottom: -100%;
  z-index: -1;
  transition: all 800ms ease-in;
}
.skill-item i {
  font-size: 75px;
  margin-bottom: 20px;
  color: var(--subhead);
}
.skill-item:hover::before {
  bottom: 0;
}
.skill-item:hover i {
  color: var(--text);
}
.project-section {
  padding-top: 75px;
}
.project-section > div {
  /* height: 90vh; */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./image/girl-laptop.jpg);
  background-size: 100% 100%;
}
.project-section .heading {
  font-size: 50px;
  font-style: italic;
  padding: 20px;
  color: var(--title);
}
.project-work {
  gap: 20px;
  padding: 0px 20px;
}
.project-heading {
  width: 32%;
}
.project-heading a {
  text-decoration: none;
  color: var(--text);
}
.project-heading div {
  /* width: 100%; */
  background-color: rgba(211, 211, 211, 0.329);
  position: relative;
  left: -130%;
  margin: 20px 0px;
  padding: 15px 20px;
  border-radius: 10px;
  animation: movement ease-out forwards;
  animation-duration: 2s;
  font-style: italic;
}

#heading1 {
  animation-delay: 600ms;
}
#heading2 {
  animation-delay: 800ms;
}
#heading3 {
  animation-delay: 1s;
}
#heading4 {
  animation-delay: 1.2s;
}
#heading5 {
  animation-delay: 1.4s;
}
#heading6 {
  animation-delay: 1.6s;
}

@keyframes movement {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

.display-none {
  display: none;
}
#projects:target .project-content .content1,
#content2:target ~ .project-content .content2,
#content3:target ~ .project-content .content3,
#content4:target ~ .project-content .content4,
#content5:target ~ .project-content .content5,
#content6:target ~ .project-content .content6 {
  display: block;
}
.project-content {
  width: 68%;
  height: 65vh;
  background-color: rgba(211, 211, 211, 0.329);
  padding: 20px 50px;
  overflow-y: scroll;
}
.project-content::-webkit-scrollbar {
  display: none;
}
.content-heading {
  background-color: var(--button);
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.content-heading + div {
  text-align: justify;
  line-height: 25px;
  color: var(--subhead);
}
.contact-section {
  width: 80%;
  margin: auto;
  padding: 50px 0px;
}
.contact-section .heading {
  font-size: 50px;
  color: var(--title);
}
.heading + p {
  text-align: center;
  color: var(--subhead);
  margin: 10px 0px;
}
form {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.column1 {
  width: 35%;
}
.column2 {
  width: 35%;
}
label {
  font-size: 18px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid var(--background);
  margin: 5px 0px 10px 0px;
  background-color: var(--subhead);
}
textarea {
  height: 120px;
}
input:focus,
textarea:focus {
  outline: none;
  border: 3px solid var(--title);
}
.column2 button {
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--button);
  color: var(--text);
}
.details {
  margin-bottom: 20px;
}
.detail-heading {
  color: var(--text);
}
.detail-heading + div {
  margin: 5px 0px;
  border: 1px solid var(--title);
  padding: 8px 10px;
  border-radius: 5px;
  color: var(--subhead);
}
.contact-icons {
  position: absolute;
  left: 0px;
  right: 0px;
  background-color: var(--theme);
  padding: 50px;
}
.contact-icons a {
  text-decoration: none;
  color: var(--text);
}
.contact-icons i {
  font-size: 30px;
  padding: 0px 20px;
}
.contact-icons a:hover {
  color: var(--title);
}
.copyright {
  margin-top: 150px;
  margin-bottom: 20px;
  font-size: small;
  color: var(--subhead);
}

@media only screen and (max-width: 1240px) {
  .circle {
    width: 100%;
  }
  .card-content {
    flex-direction: column;
  }
  .about-me {
    width: 100%;
  }
  .skills {
    width: 100%;
    padding-left: 0px;
  }
  .skills-grid {
    gap: 40px;
  }
  .card-content {
    padding: 30px;
  }
  .profile img {
    width: 75%;
  }
  .contact-section {
    width: 100%;
  }
}

@media only screen and (max-width: 910px) {
  .profile-name {
    width: 35%;
  }
  .menu {
    width: 65%;
  }
  .hero-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(./image/cartoon-image.jpg);
    background-size: 100% 100%;
  }
  .content,
  .content h2 {
    width: 100%;
  }
  .profile img {
    display: none;
  }
  .project-work {
    flex-direction: column;
  }
  .project-heading {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    gap: 15px;
    flex-wrap: wrap;
  }
  .project-heading div {
    margin: 0;
    padding: 10px;
    animation-name: none;
    left: 0;
  }
  .project-content {
    width: 80%;
    margin-bottom: 20px;
    padding: 20px 25px;
  }
}
@media only screen and (max-width: 725px) {
  .main-cointainer {
    margin: 0px 30px;
  }
  .nav-bar {
    padding: 5px 30px;
  }

  .skill-item {
    width: 135px;
    height: 135px;
  }
  .skill-item i {
    font-size: 55px;
  }
  form {
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }
  .column1,
  .column2 {
    width: 100%;
  }
  .column3 {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 580px) {
  .nav-bar {
    flex-direction: column;
    align-items: start;
  }
  .menu {
    width: 100%;
    margin-bottom: 10px;
  }
  .skills-grid {
    grid-template-columns: auto auto;
  }
  .skill-item {
    width: 110px;
    height: 110px;
  }
  .skill-item i {
    font-size: 40px;
  }
  .size-18px {
    font-size: 16px;
  }
  .project-section .heading,
  .contact-section .heading,
  .skills .heading {
    font-size: 35px;
  }
  .about-section,
  .project-section,
  .contact-section {
    padding-top: 110px;
  }
}
@media only screen and (max-width: 375px) {
  .main-cointainer {
    margin: 0px 15px;
  }
  .circle {
    flex-wrap: wrap;
    gap: 20px;
  }
  .hero-section {
    height: 100vh;
  }
  .project-content {
    width: 100%;
  }
  form {
    width: 100%;
  }
}
